<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.yxy.dch.seo.information.mapper.ArticleMapper">

    <resultMap id="customResultMap" type="com.yxy.dch.seo.information.entity.Article">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="keyword" column="keyword"/>
        <result property="desc" column="desc"/>
        <result property="columnId" column="column_id"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="contentUrl" column="content_url"/>
        <result property="recommend" column="recommend"/>
        <result property="readingNum" column="reading_num"/>
        <result property="state" column="state"/>
        <result property="tags" column="tags"/>
        <result property="relateArticleIds" column="relate_article_ids"/>
        <result property="upTime" column="up_time"/>
        <result property="href" column="href"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
    </resultMap>

    <resultMap id="customVoResultMap" type="com.yxy.dch.seo.information.vo.ArticleVO">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="keyword" column="keyword"/>
        <result property="desc" column="desc"/>
        <result property="columnId" column="column_id"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="contentUrl" column="content_url"/>
        <result property="recommend" column="recommend"/>
        <result property="readingNum" column="reading_num"/>
        <result property="state" column="state"/>
        <result property="tags" column="tags"/>
        <result property="relateArticleIds" column="relate_article_ids"/>
        <result property="upTime" column="up_time"/>
        <result property="href" column="href"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="column.id" column="col_id"/>
        <result property="column.title" column="col_title"/>
        <result property="column.keyword" column="col_keyword"/>
        <result property="column.desc" column="col_desc"/>
        <result property="column.channelId" column="col_channel_id"/>
        <result property="column.name" column="col_name"/>
        <result property="column.namePinyin" column="col_name_pinyin"/>
        <result property="column.href" column="col_href"/>
        <result property="column.visible" column="col_visible"/>
        <result property="column.orderNum" column="col_order_num"/>
        <result property="column.pictureUrl" column="col_picture_url"/>
        <result property="column.createTime" column="col_create_time"/>
        <result property="column.createUid" column="col_create_uid"/>
        <result property="column.updateTime" column="col_update_time"/>
        <result property="column.updateUid" column="col_update_uid"/>
        <collection property="tagList" ofType="com.yxy.dch.seo.information.entity.Tag">
            <id property="id" column="tag_id"/>
            <result property="name" column="tag_name"/>
            <result property="title" column="tag_title"/>
            <result property="keyword" column="tag_keyword"/>
            <result property="desc" column="tag_desc"/>
            <result property="href" column="tag_href"/>
            <result property="createTime" column="tag_create_time"/>
            <result property="createUid" column="tag_create_uid"/>
            <result property="updateTime" column="tag_update_time"/>
            <result property="updateUid" column="tag_update_uid"/>
        </collection>
        <collection property="relateArticleList" ofType="com.yxy.dch.seo.information.entity.Article">
            <id property="id" column="ra_id"/>
            <result property="title" column="ra_title"/>
            <result property="keyword" column="ra_keyword"/>
            <result property="desc" column="ra_desc"/>
            <result property="columnId" column="ra_column_id"/>
            <result property="name" column="ra_name"/>
            <result property="content" column="ra_content"/>
            <result property="contentUrl" column="ra_content_url"/>
            <result property="recommend" column="ra_recommend"/>
            <result property="readingNum" column="ra_reading_num"/>
            <result property="state" column="ra_state"/>
            <result property="tags" column="ra_tags"/>
            <result property="relateArticleIds" column="ra_raids"/>
            <result property="upTime" column="ra_up_time"/>
            <result property="href" column="ra_href"/>
            <result property="createTime" column="ra_create_time"/>
            <result property="createUid" column="ra_create_uid"/>
            <result property="updateTime" column="ra_update_time"/>
            <result property="updateUid" column="ra_update_uid"/>
        </collection>
    </resultMap>

    <sql id="columns">
        	a.id,
        	a.title,
        	a.keyword,
        	a.desc,
        	a.column_id,
        	a.name,
        	a.content,
        	a.content_url,
        	a.recommend,
        	a.reading_num,
        	a.state,
        	a.tags,
        	a.relate_article_ids,
        	a.up_time,
        	a.href,
        	a.create_time,
        	a.create_uid,
        	a.update_time,
        	a.update_uid
	</sql>

    <select id="selectArticleById" resultMap="customVoResultMap">
        SELECT a.`*`,
t.tag_id AS tag_id,
t.create_time AS tag_create_time,
t.create_uid AS tag_create_uid,
t.update_time AS tag_update_time,
t.update_uid AS tag_update_uid,
tag.name AS tag_name,
tag.title AS tag_title,
tag.keyword AS tag_keyword,
tag.`desc` AS tag_desc,
tag.`href` AS tag_href,
r.relate_article_id AS ra_id,
r.create_time AS ra_create_time,
r.create_uid AS ra_create_uid,
r.update_time AS ra_update_time,
r.update_uid AS ra_update_uid,
article.title AS ra_title,
article.keyword AS ra_keyword,
article.`desc` AS ra_desc,
article.column_id AS ra_column_id,
article.name AS ra_name,
article.content AS ra_content,
article.content_url AS ra_content_url,
article.recommend AS ra_recommend,
article.reading_num AS ra_reading_num,
article.state AS ra_state,
article.tags AS ra_tags,
article.relate_article_ids AS ra_raids,
article.up_time AS ra_up_time,
article.href AS ra_href,
col.id AS col_id,
col.title AS col_title,
col.keyword AS col_keyword,
col.desc AS col_desc,
col.channel_id AS col_channel_id,
col.name AS col_name,
col.name_pinyin AS col_name_pinyin,
col.href AS col_href,
col.visible AS col_visible,
col.order_num AS col_order_num,
col.picture_url AS col_picture_url,
col.create_time AS col_create_time,
col.create_uid AS col_create_uid,
col.update_time AS col_update_time,
col.update_uid AS col_update_uid
FROM t_seo_article a
LEFT JOIN t_seo_article_tag_mapping t ON a.id = t.article_id
LEFT JOIN t_seo_article_relate r ON a.id = r.article_id
LEFT JOIN t_seo_tag tag ON t.tag_id = tag.id
LEFT JOIN t_seo_article article ON r.relate_article_id = article.id
LEFT JOIN t_seo_column col ON a.column_id = col.id
where a.id = #{id}
    </select>

    <select id="selectArticleList" resultMap="customVoResultMap">
        SELECT <include refid="columns"/> FROM t_seo_article a
        WHERE 1 = 1
        <if test="name!=null and name!=''">
            AND name LIKE '%${name}%'
        </if>
        <if test="tags!=null and tags!=''">
            AND tags LIKE '%${tags}%'
        </if>
        ORDER BY a.update_time DESC
    </select>

    <select id="selectHottestArticles" resultMap="customVoResultMap">
        SELECT <include refid="columns"/> FROM t_seo_article a WHERE state = 1
    </select>

    <select id="selectNewestArticles" resultMap="customVoResultMap">
        SELECT <include refid="columns"/> FROM t_seo_article a WHERE state = 1 ORDER BY update_time DESC
    </select>

    <select id="selectRecommendedArticles" resultMap="customVoResultMap">
        SELECT <include refid="columns"/> FROM t_seo_article a WHERE state = 1 AND recommend = 1 ORDER BY update_time DESC
    </select>
    
    <select id="selectArticlesByColumnId" resultMap="customResultMap">
        SELECT <include refid="columns"/> FROM t_seo_article a WHERE state = 1 ORDER BY update_time DESC LIMIT 10
    </select>

    <select id="getArticlesByColNamePinyin" resultMap="customResultMap">
        SELECT <include refid="columns"/>
        FROM t_seo_article a
        LEFT JOIN t_seo_column c ON a.column_id = c.id
        WHERE c.name_pinyin = #{namePinyin} AND c.visible = 1 AND a.state = 1
        ORDER BY a.update_time
    </select>

    <select id="dayTopArticles" resultMap="customResultMap">
        SELECT <include refid="columns"/>
        FROM t_seo_article a
    </select>

    <select id="weekTopArticles" resultMap="customResultMap">
        SELECT <include refid="columns"/>
        FROM t_seo_article a
    </select>

    <select id="getArticlesByTagId" resultMap="customResultMap">
        SELECT <include refid="columns"/>
        FROM t_seo_article a
        LEFT JOIN t_seo_article_tag_mapping m ON a.id = m.article_id
        WHERE m.tag_id = #{tagId} AND a.state = 1
        ORDER BY a.update_time
    </select>

</mapper>

