<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.yxy.dch.seo.information.mapper.BannerMapper">

    <resultMap id="customResultMap" type="com.yxy.dch.seo.information.entity.Banner">
        <result property="id" column="id"/>
        <result property="channelId" column="channel_id"/>
        <result property="name" column="name"/>
        <result property="visible" column="visible"/>
        <result property="url" column="url"/>
        <result property="summary" column="summary"/>
        <result property="click_num" column="click_num"/>
        <result property="orderNum" column="orderNum"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
    </resultMap>

    <sql id="columns">
        	u.id,
        	u.channel_id,
        	u.name,
        	u.visible,
        	u.url,
        	u.summary,
        	u.click_num,
        	u.orderNum,
        	u.create_time,
        	u.create_uid,
        	u.update_time,
        	u.update_uid
	</sql>

</mapper>

