<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.yxy.dch.seo.information.mapper.OauthMapper">

    <resultMap id="customResultMap" type="com.yxy.dch.seo.information.entity.Oauth">
        <result property="id" column="id"/>
        <result property="userInfoId" column="user_info_id"/>
        <result property="oauthType" column="oauth_type"/>
        <result property="oauthId" column="oauth_id"/>
        <result property="oauthAccessToken" column="oauth_access_token"/>
        <result property="oauthExpires" column="oauth_expires"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
    </resultMap>

    <sql id="columns">
        	id,
        	user_info_id,
        	oauth_type,
        	oauth_id,
        	oauth_access_token,
        	oauth_expires,
        	create_time,
        	create_uid,
        	update_time,
        	update_uid
	</sql>


</mapper>

