<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.yxy.dch.seo.information.mapper.UserMapper">

    <resultMap id="customResultMap" type="com.yxy.dch.seo.information.entity.User">
        <result property="id" column="id"/>
        <result property="userInfoId" column="user_info_id"/>
        <result property="account" column="account"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="password" column="pwd"/>
        <result property="salt" column="salt"/>
        <result property="encryptType" column="encrypt_type"/>
        <result property="subsidiaryCode" column="subsidiary_code"/>
        <result property="subsidiaryUserId" column="subsidiary_user_id"/>
        <result property="regTime" column="reg_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
    </resultMap>

    <resultMap id="customVoResultMap" type="com.yxy.dch.seo.information.vo.UserVO">
        <result property="id" column="id"/>
        <result property="userInfoId" column="user_info_id"/>
        <result property="account" column="account"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="password" column="pwd"/>
        <result property="salt" column="salt"/>
        <result property="encryptType" column="encrypt_type"/>
        <result property="subsidiaryCode" column="subsidiary_code"/>
        <result property="subsidiaryUserId" column="subsidiary_user_id"/>
        <result property="regTime" column="reg_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="nickName" column="nick_name"/>
        <result property="sex" column="sex"/>
        <result property="image" column="image"/>
        <result property="name" column="true_name"/>
        <result property="idNumber" column="id_number"/>
        <result property="idNumberState" column="id_number_state"/>
    </resultMap>

    <resultMap id="infoResultMap" type="com.yxy.dch.seo.information.vo.UserVO">
        <result property="userInfoId" column="id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="nickName" column="nick_name"/>
        <result property="sex" column="sex"/>
        <result property="image" column="image"/>
        <result property="name" column="true_name"/>
        <result property="idNumber" column="id_number"/>
        <result property="idNumberState" column="id_number_state"/>
    </resultMap>

    <sql id="columns">
        	u.id,
        	u.user_info_id,
        	u.account,
        	u.email,
        	u.phone,
        	u.pwd,
        	u.salt,
        	u.encrypt_type,
        	u.subsidiary_code,
        	u.subsidiary_user_id,
        	u.reg_time,
        	u.last_login_time,
        	u.del_flag,
        	u.create_time,
        	u.create_uid,
        	u.update_time,
        	u.update_uid
	</sql>

    <select id="selectByAccountAndSubCode" parameterType="com.yxy.dch.seo.information.entity.User"
            resultMap="customVoResultMap">
        select<include refid="columns"/>, ui.nick_name, ui.sex, ui.image, ui.true_name, ui.id_number, ui.id_number_state
        from t_user u,t_user_info ui where u.user_info_id = ui.id and u.del_flag=0 and u.account=#{account} and
        u.subsidiary_code = #{subsidiaryCode}
        order by u.last_login_time DESC
    </select>

    <select id="selectByAccount" parameterType="java.lang.String" resultMap="customVoResultMap">
        select<include refid="columns"/>, ui.nick_name, ui.sex, ui.image, ui.true_name, ui.id_number, ui.id_number_state
        from t_user u,t_user_info ui where u.user_info_id = ui.id and u.del_flag=0 and u.account=#{account}
        order by u.last_login_time DESC
    </select>

    <select id="selectByAccountAndType" parameterType="map" resultMap="customVoResultMap">
        select
        <include refid="columns"/>
        , ui.nick_name, ui.sex, ui.image, ui.true_name, ui.id_number, ui.id_number_state
        from t_user u,t_user_info ui where u.user_info_id = ui.id and u.del_flag=0

        <if test="type == 1">
            and u.phone =#{account}
        </if>
        <if test="type == 2">
            and u.email =#{account}
        </if>
        <if test="type == 3">
            and u.account=#{account}
        </if>

    </select>

    <select id="queryUserInfoById" parameterType="long" resultMap="customVoResultMap">
        select
        <include refid="columns"/>
        , ui.nick_name, ui.sex, ui.image, ui.true_name, ui.id_number, ui.id_number_state
        from t_user u,t_user_info ui where u.user_info_id = ui.id and u.del_flag=0 and u.id = #{id}
    </select>

    <select id="exsistUser" parameterType="map" resultType="long">
        select count(1)
        from t_user u where 1=1

        <if test="type == 1">
            and u.phone =#{account}
        </if>
        <if test="type == 2">
            and u.email =#{account}
        </if>
        <if test="type == 3">
            and u.account=#{account}
        </if>

    </select>

    <select id="selectByEmail" parameterType="java.lang.String" resultMap="customVoResultMap">
        select<include refid="columns"/>, ui.nick_name, ui.sex, ui.image, ui.true_name, ui.id_number, ui.id_number_state
        from t_user u,t_user_info ui where u.user_info_id = ui.id and u.del_flag=0 and u.email=#{email}
        order by u.last_login_time DESC
    </select>

    <select id="selectByPhone" parameterType="java.lang.String" resultMap="customVoResultMap">
        select<include refid="columns"/>, ui.nick_name, ui.sex, ui.image, ui.true_name, ui.id_number, ui.id_number_state
        from t_user u,t_user_info ui where u.user_info_id = ui.id and u.del_flag=0 and u.phone=#{phone}
        order by u.last_login_time DESC
    </select>

    <select id="selectBySubCodeAndSubUserId" parameterType="map" resultMap="customVoResultMap">
        select<include refid="columns"/>, ui.nick_name, ui.sex, ui.image, ui.true_name, ui.id_number, ui.id_number_state
        from t_user u,t_user_info ui where u.user_info_id = ui.id and u.del_flag=0 and u.subsidiary_user_id=#{subUserId}
        and u.subsidiary_code=#{subCode} limit 1
    </select>

    <select id="selectByAccountOrPhone" parameterType="java.lang.String" resultMap="customVoResultMap">
        select<include refid="columns"/>, ui.nick_name, ui.sex, ui.image, ui.true_name, ui.id_number, ui.id_number_state
        from t_user u,t_user_info ui where u.user_info_id = ui.id and u.del_flag=0 and (u.account=#{account} or
        u.phone=#{account})
        order by u.last_login_time DESC
    </select>

    <select id="selectTotal" parameterType="com.yxy.dch.seo.information.vo.UserVO" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM t_user u LEFT JOIN t_user_info ui ON u.user_info_id = ui.id
        WHERE u.del_flag=0
        <if test="account!=null and account!=''">
            AND u.account like '%${account}%'
        </if>
        <if test="nickName!=null and nickName!=''">
            AND ui.nick_name like '%${nickName}%'
        </if>
        <if test="email!=null and email!=''">
            AND u.email like '%${email}%'
        </if>
        <if test="phone!=null and phone!=''">
            AND u.phone like '%${phone}%'
        </if>
        <if test="subsidiaryUserId!=null">
            AND u.subsidiary_user_id=#{subsidiaryUserId}
        </if>
        <if test="subsidiaryCode!=null and subsidiaryCode!=''">
            AND u.subsidiary_code=#{subsidiaryCode}
        </if>
        <if test="sex!=null">
            AND ui.sex=#{sex}
        </if>
        <if test="startLastLoginTime!=null">
            <![CDATA[
			AND u.last_login_time > #{startLastLoginTime}
			]]>
        </if>
        <if test="endLastLoginTime!=null">
            <![CDATA[
			AND u.last_login_time < #{endLastLoginTime}
			]]>
        </if>
        <if test="startRegTime!=null">
            <![CDATA[
			AND u.reg_time > #{startRegTime}
			]]>
        </if>
        <if test="startRegTime!=null">
            <![CDATA[
			AND u.reg_time < #{endRegTime}
			]]>
        </if>
    </select>

    <select id="selectUserList" parameterType="com.yxy.dch.seo.information.vo.UserVO" resultMap="customVoResultMap">
        SELECT
        u.id,
        u.user_info_id,
        u.account,
        u.email,
        u.phone,
        u.pwd,
        u.salt,
        u.encrypt_type,
        u.subsidiary_user_id,
        u.reg_time,
        u.last_login_time,
        u.del_flag,
        u.create_time,
        u.create_uid,
        u.update_time,
        u.update_uid,
        u.subsidiary_code,
        ui.nick_name,
        ui.sex,
        (
        CASE
        WHEN u.subsidiary_code='dj' THEN
        '乐盈电竞'
        WHEN u.subsidiary_code='yc' THEN
        '益彩网络'
        WHEN u.subsidiary_code='ybf' THEN
        '一比分'
        WHEN u.subsidiary_code='ht' THEN
        '华体星空'
        WHEN u.subsidiary_code='qysn' THEN
        '柒壹思诺'
        WHEN u.subsidiary_code='fy' THEN
        '法义网络'
        END
        ) subsidiaryName,
        (
        CASE
        WHEN ui.sex=1 THEN
        '男'
        WHEN ui.sex=2 THEN
        '女'
        WHEN ui.sex=0 THEN
        '保密'
        END
        ) sexStr
        FROM t_user u LEFT JOIN t_user_info ui ON u.user_info_id = ui.id
        WHERE u.del_flag=0
        <if test="account!=null and account!=''">
            AND u.account like '%${account}%'
        </if>
        <if test="nickName!=null and nickName!=''">
            AND ui.nick_name like '%${nickName}%'
        </if>
        <if test="email!=null and email!=''">
            AND u.email like '%${email}%'
        </if>
        <if test="phone!=null and phone!=''">
            AND u.phone like '%${phone}%'
        </if>
        <if test="subsidiaryUserId!=null">
            AND u.subsidiary_user_id=#{subsidiaryUserId}
        </if>
        <if test="subsidiaryCode!=null and subsidiaryCode!=''">
            AND u.subsidiary_code=#{subsidiaryCode}
        </if>
        <if test="sex!=null">
            AND ui.sex=#{sex}
        </if>
        <if test="startLastLoginTime!=null">
            <![CDATA[
			AND u.last_login_time > #{startLastLoginTime}
			]]>
        </if>
        <if test="endLastLoginTime!=null">
            <![CDATA[
			AND u.last_login_time < #{endLastLoginTime}
			]]>
        </if>
        <if test="startRegTime!=null">
            <![CDATA[
			AND u.reg_time > #{startRegTime}
			]]>
        </if>
        <if test="startRegTime!=null">
            <![CDATA[
			AND u.reg_time < #{endRegTime}
			]]>
        </if>
        <if test="exportNum!=null and exportSize!=null">
            limit #{exportNum},#{exportSize}
        </if>
    </select>

    <select id="selectUserInfo" resultMap="customVoResultMap">
        SELECT
        ui.nick_name,
        ui.sex,
        <include refid="columns"/>
        FROM t_user u LEFT JOIN t_user_info ui ON u.user_info_id = ui.id
        WHERE u.id=#{id}
    </select>

    <update id="updateUser" parameterType="com.yxy.dch.seo.information.entity.User">
        UPDATE
        t_user
        <set>
            <if test="account!=null and account!=''">
                account=#{account},
            </if>
            <if test="email!=null and email!=''">
                email=#{email},
            </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="password!=null and password!=''">
                pwd=#{password},
            </if>
            <if test="salt!=null and salt!=''">
                salt=#{salt},
            </if>
            <if test="subsidiaryCode!=null">
                subsidiary_code=#{subsidiaryCode},
            </if>
            <if test="delFlag!=null">
                delFlag=#{del_flag},
            </if>
            <if test="updateUid!=null">
                update_uid=#{updateUid},
            </if>
            update_time=now()
        </set>
        WHERE id=#{id}
    </update>

    <update id="updateLastLoginTimeById">
		UPDATE t_user SET
		last_login_time = #{lastLoginTime} ,
		update_time = #{updateTime} ,
		update_uid = #{updateUid}
		WHERE
		id = #{id}
	</update>

    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="customVoResultMap">
        select<include refid="columns"/>, ui.nick_name, ui.sex, ui.image, ui.true_name, ui.id_number, ui.id_number_state
        from t_user u,t_user_info ui where u.user_info_id = ui.id and u.del_flag=0 and u.id=#{id}
    </select>

</mapper>

