<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.yxy.dch.seo.information.mapper.BannerMapper">

    <resultMap id="customResultMap" type="com.yxy.dch.seo.information.entity.Banner">
        <result property="id" column="id"/>
        <result property="channelId" column="channel_id"/>
        <result property="name" column="name"/>
        <result property="visible" column="visible"/>
        <result property="url" column="url"/>
        <result property="summary" column="summary"/>
        <result property="clickNum" column="click_num"/>
        <result property="orderNum" column="order_num"/>
        <result property="pictureUrl" column="picture_url"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="createUaccount" column="create_uaccount"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="updateUaccount" column="update_uaccount"/>
    </resultMap>

    <resultMap id="customVoResultMap" type="com.yxy.dch.seo.information.vo.BannerVO">
        <result property="id" column="id"/>
        <result property="channelId" column="channel_id"/>
        <result property="name" column="name"/>
        <result property="visible" column="visible"/>
        <result property="url" column="url"/>
        <result property="summary" column="summary"/>
        <result property="clickNum" column="click_num"/>
        <result property="orderNum" column="order_num"/>
        <result property="pictureUrl" column="picture_url"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="createUaccount" column="create_uaccount"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="updateUaccount" column="update_uaccount"/>
    </resultMap>

    <sql id="columns">
        	b.id,
        	b.channel_id,
        	b.name,
        	b.visible,
        	b.url,
        	b.summary,
        	b.click_num,
        	b.order_num,
        	b.picture_url,
        	b.create_time,
        	b.create_uid,
        	b.create_uaccount,
        	b.update_time,
        	b.update_uid,
        	b.update_uaccount
	</sql>

    <select id="selectBannerList" resultMap="customVoResultMap" parameterType="com.yxy.dch.seo.information.vo.BannerVO">
        SELECT
        <include refid="columns"/>
        FROM t_seo_banner b WHERE 1 = 1 ORDER BY b.update_time DESC
    </select>

    <select id="selectDisplayableBannerList" resultMap="customVoResultMap">
        SELECT
        <include refid="columns"/>
        FROM t_seo_banner b WHERE b.channel_id = #{channelId} AND b.visible = 1
    </select>

</mapper>

