<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.yxy.dch.seo.information.mapper.ChannelMapper">

    <resultMap id="customResultMap" type="com.yxy.dch.seo.information.entity.Channel">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="keyword" column="keyword"/>
        <result property="desc" column="desc"/>
        <result property="href" column="href"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="createUaccount" column="create_uaccount"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="updateUaccount" column="update_uaccount"/>
    </resultMap>

    <resultMap id="customVoResultMap" type="com.yxy.dch.seo.information.vo.ChannelVO">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="keyword" column="keyword"/>
        <result property="desc" column="desc"/>
        <result property="href" column="href"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="createUaccount" column="create_uaccount"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="updateUaccount" column="update_uaccount"/>
    </resultMap>

    <sql id="columns">
        	c.id,
        	c.title,
        	c.keyword,
        	c.desc,
        	c.href,
        	c.create_time,
        	c.create_uid,
        	c.create_uaccount,
        	c.update_time,
        	c.update_uid,
        	c.update_uaccount
	</sql>

    <select id="getDefaultChannel" resultMap="customResultMap">
        SELECT
        <include refid="columns"/>
        FROM t_seo_channel c
    </select>

    <select id="selectChannelList" resultMap="customVoResultMap">
        SELECT
        <include refid="columns"/>
        FROM t_seo_channel c
        WHERE 1 = 1
        <if test="title != null and title != ''">
            AND c.title like '%${title}%'
        </if>
        <if test="keyword != null and keyword != ''">
            AND c.keyword like '%${keyword}%'
        </if>
        <if test="desc != null and desc != ''">
            AND c.desc like '%${desc}%'
        </if>
        <if test="href != null and href != ''">
            AND c.href like '%${href}%'
        </if>
    </select>

</mapper>

