<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.yxy.dch.seo.information.mapper.UserInfoMapper">

    <resultMap id="customResultMap" type="com.yxy.dch.seo.information.entity.UserInfo">
        <result property="id" column="id"/>
        <result property="nickName" column="nick_name"/>
        <result property="sex" column="sex"/>
        <result property="image" column="image"/>
        <result property="name" column="true_name"/>
        <result property="idNumber" column="id_number"/>
        <result property="idNumberState" column="id_number_state"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
    </resultMap>

    <sql id="columns">
        	id,
        	nick_name,
        	sex,
        	image,
        	true_name,
        	id_number,
        	id_number_state,
        	create_time,
        	create_uid,
        	update_time,
        	update_uid
	</sql>

</mapper>

