<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.yxy.dch.seo.information.mapper.UserModifyRecordMapper">

    <resultMap id="customResultMap" type="com.yxy.dch.seo.information.entity.UserModifyRecord">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="resourceContent" column="resource_content"/>
        <result property="modifyContent" column="modify_content"/>
        <result property="subsidiaryCode" column="subsidiary_code"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
    </resultMap>

    <sql id="columns">
        	id,
        	user_id,
        	resource_content,
        	modify_content,
        	subsidiary_code,
        	create_time,
        	create_uid,
        	update_time,
        	update_uid
	</sql>

</mapper>

