<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.yxy.dch.seo.information.mapper.UserTempMapper">

    <resultMap id="customResultMap" type="com.yxy.dch.seo.information.entity.UserTemp">
        <result property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="password" column="pwd"/>
        <result property="salt" column="salt"/>
        <result property="subsidiaryCode" column="subsidiary_code"/>
        <result property="subsidiaryUserId" column="subsidiary_user_id"/>
        <result property="regTime" column="reg_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="nickName" column="nick_name"/>
        <result property="sex" column="sex"/>
        <result property="image" column="image"/>
        <result property="name" column="true_name"/>
        <result property="idNumber" column="id_number"/>
        <result property="idNumberState" column="id_number_state"/>
    </resultMap>

    <sql id="columns">
        	u.id,
        	u.user_info_id,
        	u.account,
        	u.email,
        	u.phone,
        	u.pwd password,
        	u.salt,
        	u.subsidiary_code,
        	u.subsidiary_user_id,
        	u.reg_time,
        	u.last_login_time,
        	u.nick_name,
        	u.sex,
        	u.image,
        	u.true_name,
        	u.id_number,
        	id_number_state
	</sql>

    <select id="selectMaxLastImportId" resultType="java.lang.Long">
		select MAX(id) from t_user_history_import_control
	</select>

    <select id="selectByPageSize" resultMap="customResultMap">
		select u.* from t_user_temp u where u.id >${lastImportId} order by u.id limit ${pageSize}
	</select>

    <select id="selectCountByLastImportId" resultType="java.lang.Long">
		select count(*) from t_user_temp u where u.id >${lastImportId}
	</select>
</mapper>

